@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: Inter;
  background-color: hsl(0, 0%, 8%);
  color: white;
}

main {
  width: clamp(15rem, 30vw, 22rem);
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  padding: 2rem;
}
.dp img {
  display: block;
  margin: 0 auto;
  width: 6rem;
  border-radius: 50%;
}
h1 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom:.3rem;
}
.location {
  color: hsl(75, 94%, 57%);
}
.social-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  display: block;
}
.links {
  list-style-type: none;
  margin: 0.8rem 0;
  padding: 0;
}
.links a {
  background-color: hsl(0, 0%, 20%);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  display: block;
  padding: 0.8rem 0;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}
.links a:hover {
  background-color: hsl(75, 94%, 57%);
}
